npm-debug.log
.idea

coverage/
demo/
node_modules


/.editorconfig
/.travis.yml
/*.json
/karma-test-shim.js
/karma.conf.js
/gulpfile.ts
/.npmignore

*.tgz

/examples/
/assets/
/src/componets/viewer3D.component.ts
/src/controllers/editorControls.ts
/src/jsservice/fbxLoader2.service.ts
/src/jsservice/mtlLoader.service.ts
/src/jsservice/objLoader.service.ts
/index.ts
